<h1><%= @list.name %></h1>
<div class="row">
  <% @bookmarks.each do |bookmark| %>
    <div class="card col-3 p-1 m-1 d-flex flex-column align-items- justify-content-between">
      <div class="d-flex flex-column align-items-center">
        <h4 class="card-title"><%= bookmark.movie.title %></h4>
        <%= image_tag bookmark.movie.poster_url, class: "w-50 " %>
      </div>
      <div class="mt-1">
        <p><%= bookmark.comment %></p>
      </div>
      <div class="d-flex justify-content-evenly mt-1">
        <p>Rating: <%= bookmark.movie.rating %></p>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Sure?"} do  %>
        <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
