<h1>Add a movie</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie   %>
  <%= f.submit %>
  <% if @error %>
    <h5 class="text-warning">
      <%= @error %>
    </h5>
  <% end %>
<% end %>
